<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="netmq" type="Shuttle.Esb.NetMQ.Server.NetMQSection, Shuttle.Esb.NetMQ.Server"/>
  </configSections>

  <netmq port="3030">
    <queues>
      <add name="memory" uri="memory://memeory-queue" />
    </queues>
  </netmq>
</configuration>