<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="netmq" type="Shuttle.Esb.NetMQ.Server.NetMQSection, Shuttle.Esb.NetMQ.Server"/>
  </configSections>

  <netmq port="6565">
    <queues>
      <add name="queue-one" uri="rabbitmq://user:password@localhost/queue-one" />
      <add name="queue-two" uri="msmq://./queue-two" />
      <add name="queue-three" uri="memory://queue-three" />
    </queues>
  </netmq>
</configuration>